body{
    background: url(https://cdnb.artstation.com/p/assets/images/images/047/517/381/original/inkpendude-portal-calm.gif?1647794880) no-repeat center ;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
 position: relative;
     height: 90vh;
   font-family: Orbitron;
   

}

#gamebox{
    background-color: #00000073;
    position: absolute;
    left: 35%;
    top: 40%;
} 
#title{
    font-size: 60px;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 100px;
}
#difficulty{
   display:flex;
   
}